*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .box_login_acc{
    width: 50%;
} */

.box_login_acc{
    background-color:#000;
    border-radius: 10px;
}
.container_create_student {
    background: #fff;
}
.container_create_studen span{
    color: #cc2626;
}
.box_alert {
    display: none;
}
 .container_list_student{
    background-color: #fff !important;
    padding: 20px;
}
.status_btn {
    display: inline-block;
    padding: 2px 15px;
    font-size: 11px;
    font-weight: 300;
    color: #fff ;
    background: #05d34e;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-transform: capitalize;
    white-space: nowrap;
    min-width: 70px;
    text-align: center;
}
.status_btn_st{
    display: inline-block;
    padding: 2px 15px;
    font-size: 11px;
    font-weight: 300;
    color: #fff;
    background: #ffba00;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-transform: capitalize;
    white-space: nowrap;
    min-width: 70px;
    text-align: center;
}
<<<<<<< HEAD

#countdown {
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #29B6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.phantiep {
    background: #29B6F6;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 20px 0;
}

.listening_radio p{
  margin-bottom:0 ;
  font-size: 17px;
}

.listening_radio input{
    width: 17px;
}

.listening_question_name{
    font-size: 18px;
}
=======
.table>:not(caption)>*>* {
    padding: 7px !important;
}
.logo_login{
    text-align: center;

}
.logo_login{
   border-bottom: 1px solid #8f8b8b;
   padding-bottom: 20px;
   margin-bottom: 20px;
}
.box_login_acc .box_banner_login{
    width: 60%;
}
.box_login_acc .box_banner_login img{
    width: 100%;
    height: 380px;
}
.container_login .row .col-md-8{
    padding: 0;
}
.box_info_login{
    padding: 15px;
}
.box_info_login h5{
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
.box_info_login label{
    color: #fff;
}
>>>>>>> 8469fd47b502a85bfab77b2336a5c0e562463856
